<div class="users-check-container">
  <h1>設定</h1>

  <div class="clearfix">
    <div class="users-float">
      <div class="users-link-container">
        <div class="d-grid gap-2 col-6">
          <%= link_to "アカウント", account_path(@user.id),class: "a btn btn-primary" %>
          <%= link_to "プロフィール", user_path(@user.id),class: "a btn btn-primary" %>
        </div>
      </div>
    </div>

    <div class="users-float">
      <h1>プロフィール</h1>

      <%= form_with model: @user do |f| %>

      <div class="registrations-field">
        <%= f.label :image_user, "アイコン画像",class: "registrations-label" %>
        <% if @user.image_user.attached? %>
          <%= image_tag(rails_blob_path(@user.image_user), size: "60x60",  alt: "アイコン画像") %>
        <% else %>
          <%= image_tag("default_user.png", size: "60x60",  alt: "アイコン画像") %>
        <% end %>
        <%= f.file_field :image_user %>
      </div>

      <div class="registrations-field">
        <%= f.label :name, "名前",class: "registrations-label" %>
        <%= f.text_field :name, autocomplete: "name",class: "registrations-blank form-control-lg" %>
      </div>

      <div class="registrations-field">
        <%= f.label :introduction, "自己紹介",class: "registrations-label" %>
        <%= f.text_area :introduction, autocomplete: "introduction", placeholder: "自己紹介を入力",class: "registrations-blank form-control-lg" %>
      </div>

      <div class="registrations-actions">
        <%= link_to "キャンセル", :back, class: "a btn btn-outline-secondary" %>
        <%= f.submit "保存", class: "btn btn-outline-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>