<h1>設定</h1>
<%= link_to "アカウント", account_path(@user.id) %>
<%= link_to "プロフィール", user_path(@user.id) %>
<h1>プロフィール</h1>
<%= link_to "編集", edit_user_path(@user.id) %>
<p>アイコン画像</p>
<% if @user.image_user.attached? %>
  <p><%= image_tag(rails_blob_path(@user.image_user), size: "50x50",  alt: "アイコン画像") %></p>
<% else %>
  <p><%= image_tag("default1_user.png", size: "50x50", alt: "アイコン画像") %></p>
<% end %>
<p>名前</p>
<%= @user.name %>
<p>自己紹介</p>
<%= @user.introduction %>

