<h1>Potepan Shareでまだ体験したことのない旅をしよう</h1>

<%= form_with url: search_rooms_path, method: :get do |f| %>
  <%= f.text_field :erea, placeholder: "エリア名を入力" %>
  <%= f.submit "検索" %>
<% end %>

<h2>おすすめのエリア</h2>

<%= form_with url: search_rooms_path, method: :get do |f| %>
  <%= f.hidden_field :erea, value: "東京" %>
  <%= image_submit_tag("tokyo.jpg") %>
<% end %>

<%= form_with url: search_rooms_path, method: :get do |f| %>
  <%= f.hidden_field :erea, value: "大阪" %>
  <%= image_submit_tag("osaka.jpg") %>
<% end %>

<%= form_with url: search_rooms_path, method: :get do |f| %>
  <%= f.hidden_field :erea, value: "京都" %>
  <%= image_submit_tag("kyoto.jpg") %>
<% end %>

<%= form_with url: search_rooms_path, method: :get do |f| %>
  <%= f.hidden_field :erea, value: "北海道" %>
  <%= image_submit_tag("hokkaido.jpg") %>
<% end %>

