<h1>予約内容の確認</h1>

<p>チェックイン</p>
<%= @reservation.check_in.to_s(:room) %>
<p>チェックアウト</p>
<%= @reservation.check_out.to_s(:room) %>
<p>日数</p>
<%= @day %><span>日</span>
<p>人数</p>
<%= @reservation.people %><span>人</span>
<p>お支払い金額</p>
<span>¥</span><%= @total %>
<p>上記内容で正しければ「確定」ボタンを押してください。</p>

<%= form_with model: @reservation do |f| %>
  <%= f.hidden_field :check_in, value: @reservation.check_in %>
  <%= f.hidden_field :check_out, value: @reservation.check_out %>
  <%= f.hidden_field :people, value: @reservation.people %>
  <%= f.hidden_field :user_id, value: @reservation.user_id %>
  <%= f.hidden_field :room_id, value: @reservation.room.id %>
  <%= f.hidden_field :total_money, value: @total %>

  <%= f.submit "予約を確定" %>
  <%= link_to "キャンセル",  reservations_path %>
<% end %>