<h1>施設情報の編集</h1>

<%= form_with model: @room do |f| %>
  <table>
    <tr>
      <th><%= f.label :room_name, "施設名" %><span>*</span></th>
      <td><%= f.text_field :room_name %></td>
    </tr>

    <tr>
      <th><%= f.label :room_introduction, "施設詳細" %><span>*</span></th>
      <td><%= f.text_area :room_introduction %></td>
    </tr>

    <tr>
      <th><%= f.label :money, "料金" %><span>*</span></th>
      <td><%= f.text_field :money %></td>
    </tr>

    <tr>
      <th><%= f.label :address, "住所" %><span>*</span></th>
      <td><%= f.text_field :address %></td>
    </tr>

    <tr>
      <th><%= f.label :image_room, "施設画像" %></th>
      <td><%= f.file_field :image_room %></td>
    </tr>
  </table>

  <%= f.submit "保存" %>
  <%= link_to "キャンセル", :back %> 
<% end %>
