<h1>施設登録済み一覧</h1>

<table>
 <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>料金</th>
      <th>作成日</th>
      <th> </th>
    </tr>
  </thead> 
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td>
          <% if room.image_room.attached? %>
            <%= image_tag(rails_blob_path(room.image_room), size: "50x50",  alt: "ルーム画像") %>
          <% else %>
            <%= image_tag("default_room.png", size: "50x50",  alt: "ルーム画像") %>
          <% end %>
        </td>
        <td><%= room.room_name %></td> <!-- 後からリンクへ変更 -->
        <td><%= room.room_introduction %></td>
        <td><%= room.money %></td>
        <td><%= room.created_at.strftime("%Y/%m/%d") %></td>
        <td><%= link_to "後から編集", root_path %></td> <!-- 後からリンク編集 -->
      </tr>
    <% end %>
  </tbody>
</table>