<div class="rooms-new-wrapper">
  <h1>施設新規登録</h1>

  <%= form_with model: @room do |f| %>
  <div class="rooms-new-container">
    <div class="rooms-label">
      <%= f.label :room_name, "施設名" %><span>*</span>
    </div>
    <div class="rooms-form-container">
      <%= f.text_field :room_name, placeholder: "ルーム名を入力", class: "rooms-form-content form-control form-control-lg" %>
    </div>
  </div>

  <div class="rooms-new-container">
    <div class="rooms-label">
      <%= f.label :room_introduction, "施設詳細" %><span>*</span>
    </div>
    <div class="rooms-form-container">
      <%= f.text_area :room_introduction, placeholder: "施設詳細を入力", class: "rooms-form-content form-control form-control-lg" %>
    </div>
  </div>

  <div class="rooms-new-container">
    <div class="rooms-label">
      <%= f.label :money, "料金" %><span>*</span>
    </div>
    <div class="rooms-form-container">
      <%= f.text_field :money, placeholder: "1日あたりの料金を入力", class: "rooms-form-content form-control form-control-lg" %>
    </div>
  </div>

  <div class="rooms-new-container">
    <div class="rooms-label">
      <%= f.label :address, "住所" %><span>*</span>
    </div>
    <div class="rooms-form-container">
      <%= f.text_field :address, placeholder: "住所を入力", class: "rooms-form-content form-control form-control-lg" %>
    </div>
  </div>

  <div class="rooms-new-container">
    <%= f.label :image_room, "施設画像", class: "rooms-label" %>
    <div class="rooms-form-container">
      <%= f.file_field :image_room, class: "rooms-form-content" %>
    </div>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="d-grid gap-2 col-6 mx-auto">
    <%= f.submit "保存", class: "rooms-button btn btn-outline-primary h-75" %>
    <%= link_to "キャンセル", :back, class: "a rooms-button btn btn-outline-dark h-75" %>
  </div>
  <% end %>
</div>