<!DOCTYPE html>
<html>
  <head>
    <title>Kadai2App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Potepan Share", root_path %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- 後から消す -->
    </header>

    <%= yield %>

    <footer>
      <%= link_to "Potepan Share", root_path %>
      <p>Copyright © Potepan Share 2023 All rights reserverd<p>
    </footer> 
  </body>
</html>
